// sass --watch ./src/sass:./assets/css

@import "includes/reset";
@import "fonts";
@import "colors";
@import "includes/backdrop";
@import "includes/header";
@import "includes/events";

html {
  background-color: rgb(19, 19, 19);
}

* {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
