/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#backdrop {
  display: none;
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

header {
  padding: 0 0 100px 0;
  position: relative;
  overflow-x: hidden;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/351974.jpg");
  background-position: center;
  background-size: cover;
  filter: sepia(69%) brightness(50%) hue-rotate(92deg) saturate(55%);
  -webkit-filter: sepia(69%) brightness(50%) hue-rotate(92deg) saturate(55%);
  -moz-filter: sepia(69%) brightness(50%) hue-rotate(92deg) saturate(55%);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  min-height: 50px;
  position: absolute;
  top: 0px;
  width: calc(100% - 60px);
}
header nav .header__left,
header nav .header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
header h1 {
  text-align: center;
  position: relative;
}
header h1 img {
  max-width: 200px;
}
header h2 {
  position: absolute;
  left: 50px;
  bottom: 30px;
  font-family: "Architects Daughter", cursive;
  font-size: 4rem;
  opacity: 0.4;
}

.events__container {
  display: flex;
  flex-wrap: wrap;
}
.events__container .event__container {
  padding: 30px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid 1px #7de0b3;
  border-bottom: solid 1px #7de0b3;
  flex: 1;
  position: relative;
}
.events__container .event__container .event__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.events__container .event__container .event__hover::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  width: 200%;
  height: 100%;
  transform: rotate(-15deg);
  position: absolute;
  bottom: -60%;
  right: -50%;
  z-index: 2;
}
.events__container .event__container .event__hover img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.events__container .event__container .event__hover span {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 4;
}
.events__container .event__container:hover .event__hover {
  display: block;
}
.events__container .event__container .event__popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131313;
  width: 500px;
  height: 300px;
  z-index: 1000;
}
.events__container .event__container:last-child {
  border-right: none;
}
.events__container .event__container time span {
  font-size: 3rem;
}
.events__container .event__container p.event__type {
  color: #7de0b3;
}
.events__container .event__container p.event__place {
  color: #7de0b3;
  margin: 10px 0;
}
.events__container .event__container p.event__place i {
  color: #7de0b3;
}
.events__container:last-child .event__container {
  border-bottom: none;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131313;
  border-radius: 10px;
  z-index: 1000;
  padding: 20px;
  width: 70%;
}
.popup p, .popup li, .popup h5 {
  font-style: italic;
  line-height: 18px;
}
.popup .popup__header {
  margin: 0 0 20px 0;
}
.popup .popup__header label {
  cursor: pointer;
}
.popup .popup__main {
  display: flex;
  column-gap: 20px;
}
.popup .popup__main .popup__main--left, .popup .popup__main .popup__main--right {
  flex: 1;
}
.popup .popup__main .popup__main--left .popup__djs, .popup .popup__main .popup__main--left .popup__place, .popup .popup__main .popup__main--left .popup__partners, .popup .popup__main .popup__main--left h5 {
  margin: 0 0 20px 0;
}
.popup .popup__main .popup__main--right {
  display: flex;
  align-items: flex-start;
}
.popup .popup__main .popup__main--right .container__image {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .popup__main .popup__main--right .container__image img {
  width: 100%;
  height: 100%;
}

.toggle__popup {
  display: none;
}

.toggle__popup:checked ~ #backdrop {
  display: block;
}

#event1:checked ~ #popup1 {
  display: block;
}

#event2:checked ~ #popup2 {
  display: block;
}

#event3:checked ~ #popup3 {
  display: block;
}

#event4:checked ~ #popup4 {
  display: block;
}

#event5:checked ~ #popup5 {
  display: block;
}

#event6:checked ~ #popup6 {
  display: block;
}

#event7:checked ~ #popup7 {
  display: block;
}

#event8:checked ~ #popup8 {
  display: block;
}

#event9:checked ~ #popup9 {
  display: block;
}

#event10:checked ~ #popup10 {
  display: block;
}

#event11:checked ~ #popup11 {
  display: block;
}

#event12:checked ~ #popup12 {
  display: block;
}

#event13:checked ~ #popup13 {
  display: block;
}

#event14:checked ~ #popup14 {
  display: block;
}

#event15:checked ~ #popup15 {
  display: block;
}

#event16:checked ~ #popup16 {
  display: block;
}

#event17:checked ~ #popup17 {
  display: block;
}

#event18:checked ~ #popup18 {
  display: block;
}

#event19:checked ~ #popup19 {
  display: block;
}

#event20:checked ~ #popup20 {
  display: block;
}

#event21:checked ~ #popup21 {
  display: block;
}

#event22:checked ~ #popup22 {
  display: block;
}

#event23:checked ~ #popup23 {
  display: block;
}

#event24:checked ~ #popup24 {
  display: block;
}

#event25:checked ~ #popup25 {
  display: block;
}

#event26:checked ~ #popup26 {
  display: block;
}

#event27:checked ~ #popup27 {
  display: block;
}

#event28:checked ~ #popup28 {
  display: block;
}

#event29:checked ~ #popup29 {
  display: block;
}

#event30:checked ~ #popup30 {
  display: block;
}

#event31:checked ~ #popup31 {
  display: block;
}

#event32:checked ~ #popup32 {
  display: block;
}

#event33:checked ~ #popup33 {
  display: block;
}

#event34:checked ~ #popup34 {
  display: block;
}

#event35:checked ~ #popup35 {
  display: block;
}

#event36:checked ~ #popup36 {
  display: block;
}

#event37:checked ~ #popup37 {
  display: block;
}

#event38:checked ~ #popup38 {
  display: block;
}

#event39:checked ~ #popup39 {
  display: block;
}

#event40:checked ~ #popup40 {
  display: block;
}

#event41:checked ~ #popup41 {
  display: block;
}

#event42:checked ~ #popup42 {
  display: block;
}

#event43:checked ~ #popup43 {
  display: block;
}

#event44:checked ~ #popup44 {
  display: block;
}

#event45:checked ~ #popup45 {
  display: block;
}

#event46:checked ~ #popup46 {
  display: block;
}

#event47:checked ~ #popup47 {
  display: block;
}

#event48:checked ~ #popup48 {
  display: block;
}

#event49:checked ~ #popup49 {
  display: block;
}

#event50:checked ~ #popup50 {
  display: block;
}

#event51:checked ~ #popup51 {
  display: block;
}

#event52:checked ~ #popup52 {
  display: block;
}

#event53:checked ~ #popup53 {
  display: block;
}

#event54:checked ~ #popup54 {
  display: block;
}

#event55:checked ~ #popup55 {
  display: block;
}

#event56:checked ~ #popup56 {
  display: block;
}

#event57:checked ~ #popup57 {
  display: block;
}

#event58:checked ~ #popup58 {
  display: block;
}

#event59:checked ~ #popup59 {
  display: block;
}

#event60:checked ~ #popup60 {
  display: block;
}

#event61:checked ~ #popup61 {
  display: block;
}

#event62:checked ~ #popup62 {
  display: block;
}

#event63:checked ~ #popup63 {
  display: block;
}

#event64:checked ~ #popup64 {
  display: block;
}

html {
  background-color: #131313;
}

* {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
